*{
    margin: 0;
    padding:0;
}
.loginForm{
    width: 500px;
    height: 380px;
    border: 2px solid #ddd; 
    padding: 20px;
    padding-bottom: 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px #00000033;
}
.login_container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 100%;
}
.login_error{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
