body{
    overflow: hidden;
    height: 100vh;
}
.scrollable-content {
    height: 100vh; 
    overflow-y: auto;
}
.scrollable-content::-webkit-scrollbar {
    display: none; 
}
.scrollable-content {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}